$color_off: rgba(244, 244, 244, 1);
$color_on: rgba(51, 121, 217, 1);
$width: 130px;
$height: 30px;


.tumbler {
    display: flex;
    justify-content: space-between;
    height: $height;
    width: $width;
    background-color: $color_off;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.tumbpler__paragraph {
    font-weight: 200;
    font-size: 15px;
    z-index: 2;
    position: relative;
    margin: 0;
}

.tumbler__side {
    width: calc($width/2);
    height: $height;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.tumbler__anim {
    width: 50%;
    height: 30px;
    background-color: $color_on;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


.tumbler__input {
    margin: 0;
    padding: 0;
    width: calc($width/2);
    clip: rect(0 0 0 0);
    opacity: 0;
    border-radius: 10px;
}

.tumbler__input:focus~.tumbler__anim {
    background-color: aqua;
}

