// Основные цвета | Main colors
$color_on: #40916c;
$color_off: #d8f3dc;

// Дополнительные цвета | Additional colors
$text-color: #edf6f9;
$arrow-color-on: #d8f3dc;
$arrow-color-off: #40916c;

// Цвета градиента | Gradient colors
$shadow-color1: #f6bd60;
$shadow-color2: #f28482;
$shadow-color3: #40916c;

// Размеры | Sizes
$anim_dur: .2s;
$width: 150px;
$font-size: calc($width/9);


// Стили | Styles
.tumbler_type_neon {
    background-color: $color_off;
    width: $width;
}

.tumbler__side_type_neon {
    .tumbler__paragraph {
        font-size: $font-size;

        @if $width < 70px {
            display: none;
        }

        @else {
            display: flex;
        }
    }

    .tumbler__arrow {
        @if $width < 110px {
            display: none;
        }

        @else {
            display: flex;
        }

        @if $width < 70px {
            display: flex;
        }
    }
}

.tumbler__anim_type_neon {
    background-color: $color_on;
}

.tumbpler__paragraph_type_neon {
    color: $text-color;
}

.tumbler__input_type_neon {
    &:first-of-type {
        width: calc($width*0.45);

        &:checked {
            ~.tumbler__side_type_neon {
                --left-arrow: #{$arrow-color-on};
                --right-arrow: #{$arrow-color-off};

                --left-p: #{$arrow-color-on};
                --right-p: #{$arrow-color-off};
            }

            ~.tumbler__anim_type_neon {
                left: 0;
                animation: $anim_dur 1 alternate to-left-neon;
                animation-fill-mode: forwards;
                animation-timing-function: ease;
            }
        }
    }

    &:last-of-type {
        width: calc($width*0.55);

        &:checked {
            ~.tumbler__side_type_neon {
                --right-arrow: #{$arrow-color-on};
                --left-arrow: #{$arrow-color-off};

                --left-p: #{$arrow-color-off};
                --right-p: #{$arrow-color-on};
            }

            ~.tumbler__anim_type_neon {
                left: calc($width - 60%);
                animation: $anim_dur 1 alternate to-right-neon;
                animation-fill-mode: forwards;
                animation-timing-function: ease;
            }
        }
    }
}

// Анимации | Animations

@keyframes to-left-neon {

    0% {
        border-radius: 80% 100% 100% 80%;
        box-shadow: calc($width/5) 0 10px $shadow-color3, calc($width/4) 0 10px $shadow-color2, calc($width/2) 0 10px $shadow-color1;
        width: 80%;
        left: calc($width - 60%);
    }

    50% {
        box-shadow: calc($width/5) 0 10px $shadow-color3, calc($width/4) 0 10px $shadow-color2, calc($width/2) 0 10px $shadow-color1;
    }

    100% {
        width: calc($width*0.45);
        border-radius: 10px;
        left: 0;
    }

}

@keyframes to-right-neon {

    0% {
        border-radius: 100% 80% 80% 100%;
        box-shadow: calc($width/-5) 0 10px $shadow-color3, calc($width/-4) 0 10px $shadow-color2, calc($width/-2) 0 10px $shadow-color1;
        width: 80%;
        left: 0;
    }

    50% {
        box-shadow: calc($width/-5) 0 10px $shadow-color3, calc($width/-4) 0 10px $shadow-color2, calc($width/-2) 0 10px $shadow-color1;
    }


    100% {
        width: calc($width*0.55);
        border-radius: 10px;
        left: calc($width - 55%);
    }

}