$color_on: #9b5de5;
$text-color: #edf6f9;
$color_off: #118ab2;
$color_off: #10002b;
$arrow-color-on: #ffffff;
$arrow-color-off: #9b5de5;

// $shadow-color1: #ef476f;
// $shadow-color2: #ffd166;
// $shadow-color3: #06d6a0;

$shadow-color1: #fee440;
$shadow-color2: #00bbf9;
$shadow-color3: #9b5de5;

$anim_dur: .2s;
$width: 130px;

.tumbler_type_neon {
    background-color: $color_off;
}

.tumbler__anim_type_neon {
    background-color: $color_on;
}

.tumbpler__paragraph_type_neon {
    color: $text-color;
}

.tumbler__input:first-of-type:checked~.tumbler__side_type_neon {
    --left-arrow: #{$arrow-color-on};
    --right-arrow: #{$arrow-color-off};

    --left-p: #{$arrow-color-on};
    --right-p: #{$arrow-color-off};
}

.tumbler__input:last-of-type:checked~.tumbler__side_type_neon {
    --right-arrow: #{$arrow-color-on};
    --left-arrow: #{$arrow-color-off};

    --left-p: #{$arrow-color-off};
    --right-p: #{$arrow-color-on};
}

.tumbler__input:first-of-type:checked~.tumbler__anim_type_neon {
    left: 0;
    animation: $anim_dur 1 alternate to-left-neon;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.tumbler__input:last-of-type:checked~.tumbler__anim_type_neon {
    left: calc($width - 60%);
    animation: $anim_dur 1 alternate to-right-neon;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes to-left-neon {

    0% {
        border-radius: 80% 100% 100% 80%;
        box-shadow: 30px 0 10px $shadow-color3, 40px 0 10px $shadow-color2, 65px 0 10px $shadow-color1;
        width: 80%;
        left: calc($width - 60%);
    }

    50% {
        box-shadow: 30px 0 10px $shadow-color3, 40px 0 10px $shadow-color2, 65px 0 10px $shadow-color1;
    }

    100% {
        width: calc($width*0.45);
        border-radius: 10px;
        left: 0;
    }

}

@keyframes to-right-neon {

    0% {
        border-radius: 100% 80% 80% 100%;
        box-shadow: -30px 0 10px $shadow-color3, -40px 0 10px $shadow-color2, -65px 0 10px $shadow-color1;
        width: 80%;
        left: 0;
    }

    50% {
        box-shadow: -30px 0 10px $shadow-color3, -40px 0 10px $shadow-color2, -65px 0 10px $shadow-color1;
    }


    100% {
        width: calc($width*0.55);
        border-radius: 10px;
        left: calc($width - 55%);
    }

}