$color_off: rgba(244, 244, 244, 1);
$color_on: rgba(51, 121, 217, 1);

.tumbler__side {
    width: 60px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.tumbler {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 130px;
    background-color: $color_off;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.tumbler__checkbox {
    margin: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    width: 130px;
    height: 30px;    
}

.tumbler__anim {
    width: 50%;
    height: 30px;
    background-color: $color_on;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;

    animation: 1s 1 alternate toleft;
    animation-fill-mode: forwards;

    -webkit-animation: .5s 1 alternate toleft;
    -webkit-animation-fill-mode: forwards;

    // transition: all 1s;
}


@keyframes toleft {
    0% {
        border-radius: 80% 100% 100% 80%;
        width: 80%;
        left: calc(130px - 60%);
        
    }

    100% {
        width: 50%;
        border-radius: 10px;
        left: 0;
    }
}

// @keyframes toleft {
//     0% {
//         left: calc(130px - 60%);
//         box-shadow: 7px 0 5px rgba(51, 121, 217, 1), 21px 0 5px rgba(51, 121, 217, 0.5), 30px 0 5px rgba(51, 121, 217, 0.2);
//     }

//     70% {
//         box-shadow: 10px 0 5px rgba(51, 121, 217, 1), 21px 0 5px rgba(51, 121, 217, 0.5), 30px 0 5px rgba(51, 121, 217, 0.2);
//         width: 20%;
//     }

//     100% {
//         width: 60%;
//         left: 0;
//     }
// }

// @-webkit-keyframes toleft {
//     0% {
//         box-shadow: 7px 0 5px rgba(51, 121, 217, 1), 21px 0 5px rgba(51, 121, 217, 0.5), 30px 0 5px rgba(51, 121, 217, 0.2);
//     }

//     70% {
//         box-shadow: 10px 0 5px rgba(51, 121, 217, 1), 21px 0 5px rgba(51, 121, 217, 0.5), 30px 0 5px rgba(51, 121, 217, 0.2);
//         width: 20%;
//     }

//     100% {
//         width: 60%;
//         left: 0;
//     }
// }

.tumbler__checkbox:checked~.tumbler__anim {
    animation: .5s 1 alternate torigth;
    animation-fill-mode: forwards;
}

// @keyframes torigth {

//     0% {
//         box-shadow: -7px 0 5px rgba(51, 121, 217, 1), -21px 0 5px rgba(51, 121, 217, 0.5), -30px 0 5px rgba(51, 121, 217, 0.2);
//     }

//     70% {
//         box-shadow: -10px 0 5px rgba(51, 121, 217, 1), -21px 0 5px rgba(51, 121, 217, 0.5), -30px 0 5px rgba(51, 121, 217, 0.2);
//         width: 20%;
//     }

//     100% {
//         width: 60%;
//         left: calc(130px - 60%);
//     }
// }


@keyframes torigth {

    0% {
        border-radius: 100% 80% 80% 100%;
        width: 80%;
        left:0;
        
    }

    100% {
        width: 50%;
        border-radius: 10px;
        left: calc(130px - 50%);
    }
}





.tumbpler__paragraph {
    font-weight: 200;
    font-size: 15px;
    z-index: 2;
    position: relative;
    margin: 0;
}