$anim_dur: .2s;
$width: 130px;

$color_on: #748cab;
$text-color: #0d1321;
$color_off: #e1e5f2;
$light-color: #f2d492;

.tumbler_type_scaled {
    background-color: $color_off;
}

.tumbler__anim_type_scale {
    background-color: $color_on;
}

.tumbler__side_type_scaled {
    --right-arrow: url("../../media/arrow-dark.svg");
}

.tumbpler__paragraph_type_scaled {
    color: $text-color;
}

.tumbler__arrow_type_scaled {
    opacity: 0.7;
}

.tumbler__input:first-of-type:checked~.tumbler__anim_type_scale {
    animation: $anim_dur 1 alternate to-left-scaled;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}


.tumbler__input:last-of-type:checked~.tumbler__anim_type_scale {
    animation: $anim_dur 1 alternate to-right-scaled;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    background-color: $light-color;
}

@keyframes to-left-scaled {

    0% {
        border-radius: 80% 100% 100% 80%;
        width: 80%;
        left: calc($width - 60%);
    }

    50% {
        transform: scale(1.8);
    }

    100% {
        width: calc($width*0.45);
        border-radius: 10px;
        left: 0;
        transform: scale(1);
    }

}

@keyframes to-right-scaled {

    0% {
        border-radius: 100% 80% 80% 100%;
        width: 80%;
        left: 0;
    }

    50% {
        transform: scale(1.6);
    }

    100% {
        width: calc($width*0.55);
        border-radius: 10px;
        left: calc($width - 55%);
    }

}