body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 15px;
}

.container {
  width: 700px;
  max-width: 700px;
  height: max-content;
  background-color: #f8f9fa;
  display: grid;
  justify-content: space-between;
  grid-template-rows: max-content;
  row-gap: 30px;
  column-gap: 60px;
  padding: 30px 50px;
  margin: 10px;
  overflow: visible;
}

.container__tumblers {
  grid-row: 2;
  grid-column: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 10px 70px 0 0;
}

.container__text {
  margin: 0;
  grid-row: 2;
  grid-column: 1;
  color: #6c757d;
  line-height: 23px;
}

.container__heading {
  margin: 0;
  grid-row: 1;
  grid-column: 1/3;
  font-size: 30px;
  color: #495057;
}

.tumbler {
  background-color: rgb(244, 244, 244);
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: opacity 0.2s linear;
}
.tumbler:hover {
  opacity: 0.9;
}

.tumbler__side {
  --left-arrow: #FFFFFF;
  --right-arrow: #222222;
  --left-p: #FFFFFF;
  --right-p: #222222;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 45%;
  gap: 5px;
}
.tumbler__side:last-of-type {
  width: 55%;
}

.tumbler__paragraph {
  color: black;
  font-weight: 200;
  font-size: 6.6666666667px;
  margin-bottom: 1.3333333333px;
  display: none;
}

.tumbler__paragraph_left {
  color: var(--left-p);
}

.tumbler__paragraph_right {
  color: var(--right-p);
}

.tumbler__arrow {
  position: relative;
  width: 12px;
  height: 12px;
  mask-image: url("../media/arrow-dark.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("../media/arrow-dark.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: #222222;
  display: none;
  display: flex;
}

.tumbler__arrow_direction_left {
  background-color: var(--left-arrow);
  transform: rotate(180deg);
}

.tumbler__arrow_direction_right {
  background-color: var(--right-arrow);
}

.tumbler__anim {
  width: 24px;
  height: 30px;
  background-color: rgb(51, 121, 217);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.tumbler__input {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 4;
  border-radius: 10px;
  top: 0;
}
.tumbler__input:first-of-type {
  width: 27px;
  left: 0;
}
.tumbler__input:first-of-type:checked ~ .tumbler__anim {
  left: 0;
  animation: 0.2s 1 alternate to-left;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.tumbler__input:first-of-type:checked ~ .tumbler__side {
  --left-arrow: #FFFFFF;
  --right-arrow: #222222;
  --left-p: #FFFFFF;
  --right-p: #222222;
}
.tumbler__input:last-of-type {
  width: 33px;
  right: 0;
}
.tumbler__input:last-of-type:checked ~ .tumbler__anim {
  left: calc(60px - 60%);
  animation: 0.2s 1 alternate to-right;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.tumbler__input:last-of-type:checked ~ .tumbler__side {
  --right-arrow: #FFFFFF;
  --left-arrow: #222222;
  --left-p: #222222;
  --right-p: #FFFFFF;
}

@keyframes to-left {
  0% {
    border-radius: 80% 100% 100% 80%;
    width: 80%;
    left: calc(60px - 60%);
  }
  100% {
    width: 27px;
    border-radius: 10px;
    left: 0;
  }
}
@keyframes to-right {
  0% {
    border-radius: 100% 80% 80% 100%;
    width: 80%;
    left: 0;
  }
  100% {
    width: 33px;
    border-radius: 10px;
    left: calc(60px - 55%);
  }
}
@media screen and (max-width: 650px) {
  .container {
    padding: 30px 20px;
  }
  .container__tumblers {
    justify-self: center;
    width: max-content;
    margin: 0;
    gap: 25px;
    align-items: center;
  }
  .container__heading {
    font-size: 25px;
    text-align: center;
    grid-row: 1;
    grid-column: 1;
  }
  .container__tumblers {
    grid-row: 2;
    grid-column: 1;
  }
  .container__text {
    grid-row: 3;
    grid-column: 1;
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
