// Переменные, задающие основные параметры кнопки 
$color_on: rgba(51, 121, 217, 1);
$text-color: black;
$color_off: rgba(244, 244, 244, 1);
$arrow-color-on: #FFFFFF;
$arrow-color-off: #222222;

$width: 40px;
$border-rad: 10px;
$height: 30px;
$font-size: calc($width/9);
$anim_dur: .2s;
$gap: 5px;
$arrow-size: 12px;

body {
    display: flex;
    gap: 30px;
}

// Стилизация основных элементов
.tumbler {
    background-color: $color_off;
    display: flex;
    justify-content: space-between;
    height: $height;
    width: $width;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: opacity .2s linear;

    &:hover {
        opacity: .9;
    }
}

.tumbler__side {

    --left-arrow: #{$arrow-color-on};
    --right-arrow: #{$arrow-color-off};
    --left-p: #{$arrow-color-on};
    --right-p: #{$arrow-color-off};

    width: calc($width*0.5);
    height: $height;
    border-radius: $border-rad;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    gap: $gap;
}

.tumbler__paragraph {
    color: $text-color;
    font-weight: 200;
    font-size: $font-size;
    margin: 0;
    margin-bottom: calc($font-size/5);

    @if $width < 70px {
        display: none;
    }
}

.tumbler__paragraph_left {
    color: var(--left-p);
}

.tumbler__paragraph_right {
    color: var(--right-p);
}

.tumbler__arrow {
    position: relative;
    width: $arrow-size;
    height: $arrow-size;

    // Стрелки вставляю в качестве маски, чтобы была возможность легко менять их цвет с помощью css, не вставляя svg инлайново в html
    mask-image: url("../media/arrow-dark.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("../media/arrow-dark.svg");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    background-color: #222222;

    @if $width < 110px {
        display: none;
    }

    @if $width < 70px {
        display: flex;
    }
}

.tumbler__arrow_direction_left {
    background-color: var(--left-arrow);
    transform: rotate(180deg);
}

.tumbler__arrow_direction_right {
    background-color: var(--right-arrow);
}


// Стилизация и функциональность анимации

.tumbler__anim {
    width: calc($width*0.4);
    height: $height;
    background-color: $color_on;
    border-radius: $border-rad;
    position: absolute;
    top: 0;
    left: 0;
}

.tumbler__input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: calc($width/2);
    height: $height;
    opacity: 0;
    z-index: 4;
    border-radius: $border-rad;
    top: 0;

    &:first-of-type {
        width: calc($width*0.45);
        left: 0;

        &:checked {
            ~.tumbler__anim {
                left: 0;
                animation: $anim_dur 1 alternate to-left;
                animation-fill-mode: forwards;
                animation-timing-function: ease;
            }

            ~.tumbler__side {
                --left-arrow: #{$arrow-color-on};
                --right-arrow: #{$arrow-color-off};

                --left-p: #{$arrow-color-on};
                --right-p: #{$arrow-color-off};
            }
        }

    }

    &:last-of-type {
        width: calc($width*0.55);
        right: 0;

        &:checked {

            ~.tumbler__anim {
                left: calc($width - 60%);
                animation: $anim_dur 1 alternate to-right;
                animation-fill-mode: forwards;
                animation-timing-function: ease;
            }

            ~.tumbler__side {
                --right-arrow: #{$arrow-color-on};
                --left-arrow: #{$arrow-color-off};

                --left-p: #{$arrow-color-off};
                --right-p: #{$arrow-color-on};
            }

        }
    }
}

@keyframes to-left {

    0% {
        border-radius: 80% 100% 100% 80%;
        width: 80%;
        left: calc($width - 60%);
    }

    100% {
        width: calc($width*0.45);
        border-radius: 10px;
        left: 0;
    }

}

@keyframes to-right {

    0% {
        border-radius: 100% 80% 80% 100%;
        width: 80%;
        left: 0;
    }

    100% {
        width: calc($width*0.55);
        border-radius: 10px;
        left: calc($width - 55%);
    }

}